<h4 class="mb-3">Update Command</h4>
<form>
  <div class="mb-3">
    <label htmlFor="CommandLine">Command</label>
    <input type="text" class="form-control" id="CommandLine" placeholder="Your command"/>
  </div>
  <div class="mb-3">
    <label htmlFor="CommandDescription">Command Description</label>
    <input type="text" class="form-control" id="CommandDescription" placeholder="Description of your command"/>
  </div>
  <div class="mb-3">
    <label htmlFor="CommandDescription">Command Platform</label>
    <input type="text" class="form-control" id="CommandPlatform" placeholder="Platform of your Command (CLI)"/>
  </div>
  <hr class="mb-4" />
  <button class="btn btn-primary btn-lg btn-block" type="submit">Update Command</button>
</form>