<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
      <h6 class="my-0">Command 1</h6>
      <small class="text-muted">Command description</small>
    </div>
    <span class="text-muted">Platform</span>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
      <h6 class="my-0">Command 2</h6>
      <small class="text-muted">Command description</small>
    </div>
    <span class="text-muted">Platform</span>
  </li>
</ul>